* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: lightblue;
	margin: 2em;
}

.controls {
	text-align: center;
	margin: 0 auto 1em;
}

.pizza-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pizza {
	background-color: orange;
	border-radius: 50%;
	text-align: center;
	width: 100px;
	line-height: 50px;
	display: inline-block;
	margin: .5em;
}

.remove-pizza {
	text-decoration: none;
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	padding: .25em;
}